@model IEnumerable<OnlineHomeServices.DAL.Tbl_User>


@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@foreach (var item in Model)

{

    if (item.Username.Equals(User.Identity.Name))
    {
        <link href="~/AdminStyle/css/Profile.css" rel="stylesheet" />

        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <div class="card p-3 py-4">
                        <div class="text-center"> <img src="~/ProfileImages/@item.Profilepic" width="100" class="rounded-circle"> </div>
                        <div class="text-center mt-3">
                            <span class="bg-secondary p-1 px-4 rounded text-white">@item.Username</span>

                            <h5 class="mt-2 mb-0">Service provider</h5> <span></span>
                        </div>
                        <hr />
                        <div class="center-block">
                            <div class="card-block">
                                <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Personal information</h5>
                                <hr />
                                <div class="row">
                                    <hr />
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">@item.Email</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Location</p>
                                        <h6 class="text-muted f-w-400">@item.location</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Contact</p>
                                        <h6 class="text-muted f-w-400">051349544</h6>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}

