<link href="~/Content/banned.css" rel="stylesheet" />
@{
    ViewBag.Title = "bannedusermessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="lock"></div>
<div class="message">
    <h1>Access to this account is blocked by Admin</h1>
    <p>Please contact admin if you believe this is a mistake.</p>
    <p>support@onlinehomeservices1234.com</p>
</div>